.center-page {
    text-align: center;
    margin-top: 10%;
}

#search {
    width: 250px;
}

#buttons {
    margin: 15px;
    padding: 8px;
}

#google-image {
   
}

.footer {
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    height: 30px; 
    width: 99%;
    padding-top: 15px;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
}
